/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Variables */
:root {
  --dark-bg: #161616;
  --btn: #dd0000;
}

/* Reset and Helpers Class */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--c-brand);
}

img {
  width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 1320px;
  margin: 100px auto;
}

.btn {
  background-color: var(--btn);
  color: #ffffff;
  padding: 15px 25px;
  font-size: 20px;
  line-height: 23px;
  margin: 20px 0px;
  display: inline-block;
  border-radius: 5px;
}

/* Hero Section  */

.hero-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-bg);
  border-radius: 30px;
  padding: 0px 100px;
  color: #ffffff;
}

.hero-thumb {
  padding-top: 30px;
}

.banner-content {
  width: 50%;
}

.banner-content h1 {
  font-size: 70px;
  line-height: 80px;
}

.banner-content p {
  font-size: 16px;
  line-height: 26px;
  padding-right: 10%;
  margin: 20px 0px;
}

/* Main Content Area  */
.main-content {
  display: flex;
  gap: 20px;
}

.main-content aside {
  background-color: var(--dark-bg);
  padding: 35px;
  width: 270px;
  border-radius: 18px;
  height: auto;
  max-height: 230px;
}

.main-content aside a {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 231px;
}

.main-content aside .btn-normal {
  color: var(--dark-bg);
  background: #ffffff !important;
}

/* Blog Card  */

.blog-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.blog-card {
  border: 1px solid #eee;
  border-radius: 10px;
}

.blog-thumb img {
  border-radius: 10px 10px 0px 0px;
}

.blog-content {
  padding: 15px;
}

.blog-content .blog-label {
  border: 1px solid var(--dark-bg);
  font-size: 16px;
  line-height: 24px;
  color: #161616;
  padding: 0px 10px;
  border-radius: 2px;
}

.blog-content h3 a {
  font-size: 18px;
  line-height: 27px;
  color: #161616;
  margin: 15px 0px;
  display: inline-block;
}

.blog-content .meta {
  display: flex;
  gap: 30px;
}

.blog-content span {
  display: flex;
  align-items: center;
}

.blog-content .meta img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

/* Footer Area  */

footer {
  background-color: var(--dark-bg);
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

footer img {
  width: 95px;
  padding: 20px 0px;
}

footer hr {
  background-color: #ffffff;
  opacity: 10%;
}

footer .footer-nav {
  margin: 20px 0px;
}

footer .footer-nav a {
  padding: 10px;
  display: inline-block;
  color: #b9b9b9;
}
