/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Variables */
:root {
  --dark-bg: #161616;
  --btn: #dd0000;
}

/* Reset and Helpers Class */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--c-brand);
}

img {
  width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 1320px;
  margin: 100px auto;
}

.btn {
  background-color: var(--btn);
  color: #ffffff;
  padding: 15px 25px;
  font-size: 20px;
  line-height: 23px;
  margin: 20px 0px;
  display: inline-block;
  border-radius: 5px;
}

/* Hero Section  */

.hero-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-bg);
  border-radius: 30px;
  padding: 0px 100px;
  color: #ffffff;
}

.banner-content {
  width: 50%;
}

.banner-content h1 {
  font-size: 70px;
  line-height: 80px;
}

.banner-content p {
  font-size: 16px;
  line-height: 26px;
  padding-right: 10%;
  margin: 20px 0px;
}

/* Main Content Area  */
.main-content {
  display: flex;
}

.main-content aside {
  background-color: var(--dark-bg);
  padding: 35px;
  width: 312px;
  border-radius: 18px;
}

.main-content aside a {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-content aside .btn-normal {
  color: var(--dark-bg);
  background: #ffffff !important;
}
